/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2em;
}

.highlight {
    color: #3a3aee;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
}

/* Search Bar */
.search-container {
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 5px;
}

/* Patient List */
.patient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.patient-card {
    padding: 10px;
    border: 2px solid #3a3aee;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
}

.patient-card p {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.patient-card span {
    font-size: 0.9em;
    color: grey;
}

/* Patient Detail Table */
main {
    display: flex;
    justify-content: center;
}

.patient-info {
    width: 70%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patient-info th, .patient-info td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.patient-info th {
    background-color: #f3ce73;
    font-weight: bold;
}

/* Button Styles */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #3a3aee;
    border-radius: 5px;
    background-color: white;
    color: #3a3aee;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: #3a3aee;
    color: white;
}

.new-appointment {
    margin-top: 10px;
}

.reschedule {
    margin-top: 10px;
}
