* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
}

form {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.center {
  justify-content: center;
  display: flex;
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

hr {
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.col-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-2 > div {
  flex: 0 0 48%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #3498db;
  outline: none;
}

textarea::placeholder {
  color: #222;
}

.edit-btn {
  display: inline-block;
  margin: 15px 5px;
  padding: 10px 20px;
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
}

.edit-btn:hover {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
}

.cancel-btn {
  display: inline-block;
  margin: 15px 5px;
  padding: 10px 20px;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
}

.cancel-btn:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

@media (max-width: 768px) {
  form {
    padding: 15px;
    max-width: 90%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 12px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 13px;
    padding: 10px;
  }
}
